CESEA/DHL/LogicAppMembership.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Set_to_NOT_ACTIVE_REST_API": {
                        "inputs": {
                            "body": {
                                "body": "{\n  \"__metadata\":{type:\"SP.Data.MembershipAdHocEngagementListItem\"},\n   ApprovalStatus:\"Pending\",\n   MembershipStatus:\"Not Active\",\n   ExpiredNotification: true\n }",
                                "headers": {
                                    "IF-MATCH": "*",
                                    "accept": "application/json;odata=verbose",
                                    "content-type": "application/json;odata=verbose"
                                },
                                "method": "PATCH",
                                "uri": "@{concat('_api/web/lists(''',parameters('MembershipListGUID'),''')/Items(',items('For_each')?['ID'],')')}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('ShPSiteURL')))}/httprequest"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Get_expired_items')?['value']",
                "runAfter": {
                    "Get_expired_items": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_expired_items": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('ShPSiteURL')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('MembershipListGUID')))}/items",
                    "queries": {
                        "$filter": "EndDate lt '@{formatDateTime(utcNow(),'yyyy-MM-dd')}' and MembershipStatus eq 'Active'"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "DisplayFormURL": {
                "defaultValue": "/SitePages/Membership-FORM.aspx?FormMode=Display&ItemId=",
                "type": "String"
            },
            "MembershipListGUID": {
                "defaultValue": "bac61f95-dd1c-4d85-bf79-5e4c1f14efe3",
                "type": "String"
            },
            "ShPSiteURL": {
                "defaultValue": "https://dpdhl.sharepoint.com/sites/EXPCompetitionCompliance",
                "type": "String"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 2,
                    "schedule": {
                        "hours": [
                            "10"
                        ],
                        "minutes": [
                            0
                        ]
                    },
                    "timeZone": "Central Europe Standard Time"
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 2,
                    "schedule": {
                        "hours": [
                            "10"
                        ],
                        "minutes": [
                            0
                        ]
                    },
                    "timeZone": "Central Europe Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sharepointonline": {
                    "connectionId": "/subscriptions/ab219ef3-3068-4d44-8026-1b72f5ad28c9/resourceGroups/ITS-ECC-9010/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "id": "/subscriptions/ab219ef3-3068-4d44-8026-1b72f5ad28c9/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
                }
            }
        }
    }
}